 body {
    background-color: #2E3338;
}

:root {
    --main-color: #0077b6;
}

.bg-main{
    background-color: var(--main-color);
}

.text-main{
    color: var(--main-color);
}

.text-seco{
    color: #ebecf0;
}

.card-custom {
    background-color: #ebecf0;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.5s;
    background-color: #343a40;
    box-shadow: -5px -5px 20px , 5px 5px 20px #343a40 ;
}

.card-custom:hover{
    box-shadow: -2px -2px 5px #6E7B87, 2px 2px 5px #6E7B87;
}

.card-custom:active{
    box-shadow: inset 1px 1px 2px #343a40, -1px -1px 2px #343a40;
}


.modal-custom{
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
}

.modal-custom-content{
    color: #ebecf0;
    background-color: #343a40;
    margin: auto;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
}

.modal-custom.active{
    z-index: 10;
    opacity: 1;
}
  